<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceLibrarySoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceLibrarySoap1" />
                <binding name="WebServiceCategoryasmxSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceCategoryasmxSoap1" />
                <binding name="WebServiceBooksSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceBooksSoap1" />
                <binding name="WebServiceBorrowSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceBorrowSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44359/WebServiceLibrary.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceLibrarySoap"
                contract="ServiceReferenceLogin.WebServiceLibrarySoap" name="WebServiceLibrarySoap" />
            <endpoint address="https://localhost:44359/WebServiceCategoryasmx.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceCategoryasmxSoap"
                contract="ServiceReferenceCategory.WebServiceCategoryasmxSoap"
                name="WebServiceCategoryasmxSoap" />
            <endpoint address="https://localhost:44359/WebServiceBooks.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceBooksSoap"
                contract="ServiceReferenceBooks.WebServiceBooksSoap" name="WebServiceBooksSoap" />
            <endpoint address="https://localhost:44359/WebServiceBorrow.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceBorrowSoap"
                contract="ServiceReferenceBorrow.WebServiceBorrowSoap" name="WebServiceBorrowSoap" />
        </client>
    </system.serviceModel>
</configuration>