<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceCalculatorSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceCalculatorSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44326/WebServiceCalculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceCalculatorSoap"
                contract="ServiceReferenceCalculator.WebServiceCalculatorSoap"
                name="WebServiceCalculatorSoap" />
        </client>
    </system.serviceModel>
</configuration>